.a11y-sr-only,
.a11y-kb-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.a11y-kb-only:active,
.a11y-kb-only:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.menu-link {
  display: inline-block;
  padding: .5em;
  text-decoration: none; }

.icon-search:before {
  content: "search"; }

.icon-close:before {
  content: "x"; }

.flat-list {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .flat-list li {
    padding-left: 0; }
  .flat-list li:before {
    content: ''; }

@brand-default :		black;
@brand-highlight :	#428bca;
@brand-success :		#5cb85c;
@brand-info :		#5bc0de;
@brand-warning :		#f0ad4e;
@brand-danger :		#d9534f;
@black-dark :		    #292929;
@black-medium :          #545454;
@black-light :	        #B0B0B0;
@white :	                #FFFFFF;
@black-dark-trans-50 :	rgba(41,41,41,0.5);
@black-dark-trans-15 :	rgba(41,41,41,0.5);
@white-trans-50 :	    rgba(255,255,255,0.5);
@white-trans-10 :	    rgba(255,255,255,0.1);
@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url("../../components/assets/fonts/app-core-styles/fonts/AGaramondPro-Regular.eot");
  src: url("../../components/app-core-styles/fonts/AGaramondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/AGaramondPro-Regular.woff2") format("woff2"), url("../../components/app-core-styles/fonts/AGaramondPro-Regular.woff") format("woff"), url("../../components/app-core-styles/fonts/AGaramondPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AGaramondPro-Bold';
  src: url("../../components/assets/fonts/app-core-styles/fonts/AGaramondPro-Bold.eot");
  src: url("../../components/app-core-styles/fonts/AGaramondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/AGaramondPro-Bold.woff2") format("woff2"), url("../../components/app-core-styles/fonts/AGaramondPro-Bold.woff") format("woff"), url("../../components/app-core-styles/fonts/AGaramondPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINWeb-CondMedium';
  src: url("../../components/assets/fonts/app-core-styles/fonts/DINWeb-CondMedium.eot");
  src: url("../../components/app-core-styles/fonts/DINWeb-CondMedium.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/DINWeb-CondMedium.woff2") format("woff2"), url("../../components/app-core-styles/fonts/DINWeb-CondMedium.woff") format("woff"), url("../../components/app-core-styles/fonts/DINWeb-CondMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINWeb-CondBold';
  src: url("../../components/assets/fonts/app-core-styles/fonts/DINWeb-CondBold.eot");
  src: url("../../components/app-core-styles/fonts/DINWeb-CondBold.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/DINWeb-CondBold.woff2") format("woff2"), url("../../components/app-core-styles/fonts/DINWeb-CondBold.woff") format("woff"), url("../../components/app-core-styles/fonts/DINWeb-CondBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FatFrank-Free';
  src: url("../../components/assets/fonts/app-core-styles/fonts/FatFrank-Free.eot");
  src: url("../../components/app-core-styles/fonts/FatFrank-Free.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/FatFrank-Free.woff2") format("woff2"), url("../../components/app-core-styles/fonts/FatFrank-Free.woff") format("woff"), url("../../components/app-core-styles/fonts/FatFrank-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.cla1 {
  font-family: AGaramondPro-Bold;
  color: red; }

.cla2 {
  font-family: AGaramondPro-Regular;
  color: red; }

.cla3 {
  font-family: DINWeb-CondMedium;
  color: darkgrey; }

.cla4 {
  font-family: DINWeb-CondBold;
  color: grey; }

.cla5 {
  font-family: FatFrank-Free;
  color: red; }

.a11y-sr-only,
.a11y-kb-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.a11y-kb-only:active,
.a11y-kb-only:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.icon-search:before {
  content: "search"; }

.icon-close:before {
  content: "x"; }

.flat-list {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .flat-list li {
    padding-left: 0; }
  .flat-list li:before {
    content: ''; }

@brand-default :		black;
@brand-highlight :	#428bca;
@brand-success :		#5cb85c;
@brand-info :		#5bc0de;
@brand-warning :		#f0ad4e;
@brand-danger :		#d9534f;
@black-dark :		    #292929;
@black-medium :          #545454;
@black-light :	        #B0B0B0;
@white :	                #FFFFFF;
@black-dark-trans-50 :	rgba(41,41,41,0.5);
@black-dark-trans-15 :	rgba(41,41,41,0.5);
@white-trans-50 :	    rgba(255,255,255,0.5);
@white-trans-10 :	    rgba(255,255,255,0.1);
@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url("../../components/assets/fonts/app-core-styles/fonts/AGaramondPro-Regular.eot");
  src: url("../../components/app-core-styles/fonts/AGaramondPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/AGaramondPro-Regular.woff2") format("woff2"), url("../../components/app-core-styles/fonts/AGaramondPro-Regular.woff") format("woff"), url("../../components/app-core-styles/fonts/AGaramondPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AGaramondPro-Bold';
  src: url("../../components/assets/fonts/app-core-styles/fonts/AGaramondPro-Bold.eot");
  src: url("../../components/app-core-styles/fonts/AGaramondPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/AGaramondPro-Bold.woff2") format("woff2"), url("../../components/app-core-styles/fonts/AGaramondPro-Bold.woff") format("woff"), url("../../components/app-core-styles/fonts/AGaramondPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINWeb-CondMedium';
  src: url("../../components/assets/fonts/app-core-styles/fonts/DINWeb-CondMedium.eot");
  src: url("../../components/app-core-styles/fonts/DINWeb-CondMedium.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/DINWeb-CondMedium.woff2") format("woff2"), url("../../components/app-core-styles/fonts/DINWeb-CondMedium.woff") format("woff"), url("../../components/app-core-styles/fonts/DINWeb-CondMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINWeb-CondBold';
  src: url("../../components/assets/fonts/app-core-styles/fonts/DINWeb-CondBold.eot");
  src: url("../../components/app-core-styles/fonts/DINWeb-CondBold.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/DINWeb-CondBold.woff2") format("woff2"), url("../../components/app-core-styles/fonts/DINWeb-CondBold.woff") format("woff"), url("../../components/app-core-styles/fonts/DINWeb-CondBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FatFrank-Free';
  src: url("../../components/assets/fonts/app-core-styles/fonts/FatFrank-Free.eot");
  src: url("../../components/app-core-styles/fonts/FatFrank-Free.eot?#iefix") format("embedded-opentype"), url("../../components/app-core-styles/fonts/FatFrank-Free.woff2") format("woff2"), url("../../components/app-core-styles/fonts/FatFrank-Free.woff") format("woff"), url("../../components/app-core-styles/fonts/FatFrank-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.cla1 {
  font-family: AGaramondPro-Bold;
  color: red; }

.cla2 {
  font-family: AGaramondPro-Regular;
  color: red; }

.cla3 {
  font-family: DINWeb-CondMedium;
  color: darkgrey; }

.cla4 {
  font-family: DINWeb-CondBold;
  color: grey; }

.cla5 {
  font-family: FatFrank-Free;
  color: red; }

/*# sourceMappingURL=style.css.map */
