@mixin linear-gradient($top, $bottom){
	background: $top;
	background: linear-gradient(top, $top 0%,$bottom 100%);
}

@mixin radial-gradient($center, $outer){
	background: transparent;
	background: radial-gradient(ellipse at center, $center 0%,$outer 70%);
}

@mixin radial-gradient-shadow($center, $outer){
	background: $center;
	background: radial-gradient(ellipse at center, $center 10%,$outer 200%);
}

