@import "variables";
@import "../mixins/transform";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  position: relative;
}

main {

  .teaser:last-child,
  .content-block:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.content-container {
  padding-left: 2rem;
  padding-right: 2rem;

  @include min-screen($media-tablet-mini){
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }

  @include min-screen($media-tablet-portrait){
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  @include min-screen($media-laptop){
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @include min-screen($media-desktop){
    padding-left: 12rem;
    padding-right: 12rem;
    max-width: 142.5rem;
  }



  //@include min-screen($media-desktop){
  //  max-width: 120rem;
  //}
  //
  //@include min-screen($media-desktop-large){
  //  max-width: 120rem;
  //}

}

.viewer-content {
  padding-top: 28rem;
  @extend .content-container;
}

img {
  height: auto;
  max-width: 100%;
}

.content-block {
  padding-top: 18rem;
  padding-bottom: 13rem;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}