@import "variables";

.flat-list {
	list-style: none;
	padding-left: 0;
	margin: 0;

	li {
		padding-left: 0;
	}
}

.big-numbered-list {
	counter-reset: my-counter;

	li {
		font-family: AGaramondPro;
		color: $black-medium-dark;
		font-size: 2.4rem;
		margin-bottom: 2.5rem;
		line-height: 6rem;
	}

	li:before {
		color: $black-dark;
		content: counter(my-counter)".";
		counter-increment: my-counter;
		font-family: AGaramondPro-Bold;
		font-size: 6rem;
		margin-right: 4rem;
		position: relative;
		top: 1rem;
	}
}

.trajectory-timeline {
	margin-top: 8rem;
	padding-left: 1.5rem;
}

.trajectory-item {
	color: $black-dark;
	font-family: DINWeb-CondBold;
	font-size: 1.4rem;
	margin-bottom: 8rem;
	list-style: none;
	position: relative;

	&:before {
		background: $black-dark;
		border-radius: 50%;
		content: "";
		height: 0.8rem;
		width: 0.8rem;
		left: -1.8rem;
		top: 0.5rem;
		position: absolute;
	}

	&:after {
		background: $black-dark;
		content: "";
		height: 10.5rem;
		position: absolute;
		left: -1.5rem;
		top: 1rem;
		width: 2px;
	}

	&:last-of-type:after {
		content: none;
	}
}

.trajectory-location {
	color: $black-light;
	display: block;
	font-family: DINWeb-CondBold;
	font-size: 1.2rem;
}

.title-latest-posts {
	color: $black;
	font-family: AGaramondPro-Bold;
	font-size: 3.6rem;
	line-height: 3.6rem;
}

.list-latest-posts {
	color: $black-dark;
	font-family: DINWeb-CondBold;
	font-size: 1.4rem;
	margin-bottom: 8rem;
	list-style: none;
}

.link-latest-post {
	margin-bottom: 2rem;
	height: 100%;
	position: relative;

	&:before {
		background: $black-dark-trans-30;
		bottom: 0;
		content: "";
		position: absolute;
		height: 1px;
		width: 6rem;
	}

	a {
		color: $black-dark;
		display: block;
		margin-bottom: 1rem;

		&:hover {
			color: $black-light;
			cursor: pointer;
		}
	}
}

.date-latest-post {
	color: $black-medium;
	display: block;
	font-family: DINWeb-CondBold;
	font-size: 1.2rem;
	line-height: 1.2rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
}