@import "variables";

@font-face {
  font-family: 'AGaramondPro-Regular';
  src:  url('assets/fonts/AGaramondPro-Regular.eot');
  src:  url('assets/fonts/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/AGaramondPro-Regular.woff2') format('woff2'),
  url('assets/fonts/AGaramondPro-Regular.woff') format('woff'),
  url('assets/fonts/AGaramondPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramondPro-Bold';
  src:  url('assets/fonts/AGaramondPro-Bold.eot');
  src:  url('assets/fonts/AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/AGaramondPro-Bold.woff2') format('woff2'),
  url('assets/fonts/AGaramondPro-Bold.woff') format('woff'),
  url('assets/fonts/AGaramondPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINWeb-CondMedium';
  src:  url('assets/fonts/DINWeb-CondMedium.eot');
  src:  url('assets/fonts/DINWeb-CondMedium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINWeb-CondMedium.woff2') format('woff2'),
  url('assets/fonts/DINWeb-CondMedium.woff') format('woff'),
  url('assets/fonts/DINWeb-CondMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINWeb-CondBold';
  src:  url('assets/fonts/DINWeb-CondBold.eot');
  src:  url('assets/fonts/DINWeb-CondBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINWeb-CondBold.woff2') format('woff2'),
  url('assets/fonts/DINWeb-CondBold.woff') format('woff'),
  url('assets/fonts/DINWeb-CondBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FatFrank-Free';
  src:  url('assets/fonts/FatFrank-Free.eot');
  src:  url('assets/fonts/FatFrank-Free.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/FatFrank-Free.woff2') format('woff2'),
  url('assets/fonts/FatFrank-Free.woff') format('woff'),
  url('assets/fonts/FatFrank-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src:  url('assets/fonts/icons.eot?jpcsso');
  src:  url('assets/fonts/icons.eot?jpcsso#iefix') format('embedded-opentype'),
  url('assets/fonts/icons.ttf?jpcsso') format('truetype'),
  url('assets/fonts/icons.woff?jpcsso') format('woff'),
  url('assets/fonts/icons.svg?jpcsso#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: AGaramondPro-Regular;
  font-size: 1.8rem;
  line-height: 3rem;
  color: $black-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e905";
}
.icon-yoga:before {
  content: "\e900";
}
.icon-medicine-bowl:before {
  content: "\e901";
}
.icon-yin-yang:before {
  content: "\e902";
}
.icon-pranava:before {
  content: "\e903";
}
.icon-lotus:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e909";
}

h1 {
  margin-top: 0;
}

hr {
  background: $black-light-30;
  border: none;
  height: 1px;
}

.section-divider-full {
  margin-bottom: 7rem;
}

.section-divider-small {
  margin: 0 auto 5rem auto;
  width: 60rem;
}

.content-text {
  
}

// Chapter styles
.chapter-main-title {
  color: $black-dark;
  font-family: AGaramondPro-Bold;
  font-size: 7rem;
  margin: 0 0 5rem 0;
  line-height: 7rem;
}

.chapter-sub-title {
  color: $black-dark;
  font-family: DINWeb-CondBold;
  font-size: 1.4rem;
  margin: 0 0 1.5rem 0;
  line-height: 1.4rem;
}

.chapter-text {
  font-family: AGaramondPro-Regular;
  font-size: 2.4rem;
  line-height: 4rem;
  color: $black-medium-dark;
}

.chapter-main-title-hori {
  display: inline-block;
  margin-right: -4px;
  width: 50%;
}

.chapter-content-divider {
  margin: 4rem 0 8rem 0;
}

.chapter-text-hori {
  display: inline-block;
  margin-right: -4px;
  width: 50%;
}

.content-divider-chapter {
  margin: 4rem 0 8rem 0;
}

.intro-text {
  color: $black-medium;
  font-family: AGaramondPro-Regular;
  font-size: 2.4rem;
  margin-bottom: 7rem;
  max-width: 55rem;
  line-height: 4rem;
}

.centered-text {
  text-align: center;
  margin: 0 auto;
  max-width: 52rem;
  width: 100%;
}