@import "variables";

@font-face {
  font-family: 'AGaramondPro-Regular';
  src:  url('assets/fonts/AGaramondPro-Regular.eot');
  src:  url('assets/fonts/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/AGaramondPro-Regular.woff2') format('woff2'),
  url('assets/fonts/AGaramondPro-Regular.woff') format('woff'),
  url('assets/fonts/AGaramondPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramondPro-Bold';
  src:  url('assets/fonts/AGaramondPro-Bold.eot');
  src:  url('assets/fonts/AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/AGaramondPro-Bold.woff2') format('woff2'),
  url('assets/fonts/AGaramondPro-Bold.woff') format('woff'),
  url('assets/fonts/AGaramondPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINWeb-CondMedium';
  src:  url('assets/fonts/DINWeb-CondMedium.eot');
  src:  url('assets/fonts/DINWeb-CondMedium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINWeb-CondMedium.woff2') format('woff2'),
  url('assets/fonts/DINWeb-CondMedium.woff') format('woff'),
  url('assets/fonts/DINWeb-CondMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINWeb-CondBold';
  src:  url('assets/fonts/DINWeb-CondBold.eot');
  src:  url('assets/fonts/DINWeb-CondBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINWeb-CondBold.woff2') format('woff2'),
  url('assets/fonts/DINWeb-CondBold.woff') format('woff'),
  url('assets/fonts/DINWeb-CondBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FatFrank-Free';
  src:  url('assets/fonts/FatFrank-Free.eot');
  src:  url('assets/fonts/FatFrank-Free.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/FatFrank-Free.woff2') format('woff2'),
  url('assets/fonts/FatFrank-Free.woff') format('woff'),
  url('assets/fonts/FatFrank-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 0;
}

hr {
  background: $black-light-30;
  border: none;
  height: 1px;
}

.section-divider-full {
  margin-bottom: 7rem;
}

.section-divider-small {
  margin: 0 auto 5rem auto;
  width: 60rem;
}

.content-text {
  font-family: AGaramondPro-Regular;
  font-size: 1.8rem;
  line-height: 3rem;
  color: $black-light;
}

.content-text-space {
  margin-bottom: 4rem;
}

// Chapter styles
.chapter-main-title, .section-title {
  color: $black-dark;
  font-family: AGaramondPro-Bold;
  font-size: 7rem;
  margin: 0 0 5rem 0;
  line-height: 7rem;
}

.chapter-sub-title, .section-sub-title {
  color: $black-dark;
  font-family: DINWeb-CondBold;
  font-size: 1.4rem;
  margin: 0 0 1.5rem 0;
  line-height: 1.4rem;
}

.chapter-text {
  font-family: AGaramondPro-Regular;
  font-size: 2.4rem;
  line-height: 4rem;
  color: $black-medium-dark;
}

.chapter-main-title-hori {
  display: inline-block;
  margin-right: -4px;
  width: 50%;
}

.chapter-content-divider {
  margin: 4rem 0 8rem 0;
}

.chapter-text-hori {
  display: inline-block;
  margin-right: -4px;
  width: 50%;
}

.content-divider-chapter {
  margin: 4rem 0 8rem 0;
}

.intro-text {
  color: $black-medium;
  font-family: AGaramondPro-Regular;
  font-size: 2.4rem;
  max-width: 55rem;
  line-height: 4rem;
}

.chapter-intro-text {
  @extend .intro-text;
  margin-bottom: 7rem;
}

.section-intro-text {
  @extend .intro-text;
  margin-bottom: 13rem;
}

.centered-text {
  text-align: center;
  margin: 0 auto;
  max-width: 52rem;
  width: 100%;
}