$black:		                  #000000;
$black-dark:		          #292929;
$black-medium-dark:           #545454;
$black-medium:                #707070;
$black-medium-dark-light:     #979797;
$black-light:	              #B0B0B0;
$grey-light:	              #CDCDCD;
$white-dark:                  #E5E5E5;
$white:	                      #FFFFFF;
$black-dark-trans-50:	      rgba(41,41,41,0.5);
$black-dark-trans-30:	      rgba(41,41,41,0.3);
$black-dark-trans-15:	      rgba(41,41,41,0.15);
$black-medium-dark-60:        rgba(84,84,84,0.6);
$black-medium-dark-15:        rgba(84,84,84,0.15);
$black-medium-dark-light-20:  rgba(151,151,151,0.2);
$black-light-30:              rgba(176,176,176,0.3);
$black-light-40:              rgba(176,176,176,0.4);
$white-trans-50:	          rgba(255,255,255,0.5);
$white-trans-10:	          rgba(255,255,255,0.1);


$media-mobile-landscape:     330px;
$media-phablet:              480px;
$media-tablet-mini:          600px;
$media-tablet-portrait:      768px;
$media-tablet-landscape:     960px;
$media-laptop:               1024px;
$media-desktop:              1280px;
$media-desktop-large:        1440px;
$media-screens-large:        1824px;

