// Variables Voorhoede Front-end style guide
@brand-default:		black;
@brand-highlight:	#428bca;
@brand-success:		#5cb85c;
@brand-info:		#5bc0de;
@brand-warning:		#f0ad4e;
@brand-danger:		#d9534f;

@black-dark:		    #292929;
@black-medium:          #545454;
@black-light:	        #B0B0B0;
@white:	                #FFFFFF;
@black-dark-trans-50:	rgba(41,41,41,0.5);
@black-dark-trans-15:	rgba(41,41,41,0.5);
@white-trans-50:	    rgba(255,255,255,0.5);
@white-trans-10:	    rgba(255,255,255,0.1);