@import "../core-styles/elements/variables";

.home-text-block {
  background: $white;
  @extend .content-container;
  padding: 12rem 0;

  &:last-of-type {
    padding-bottom: 0;
  }

  .horizontal-setting:first-child {
    width: 60rem;
  }
}

.horizontal-left {
  float: left;
  width: 48.333333%;
}

.horizontal-right {
  float: left;
}

.horizontal-left-narrow {
  float: left;
  width: 30%;
  margin-right: 18.333333%;
}

.block-hori-left {
  float: left;
  width: 48.333333%;

  img {
    margin: 0 auto;
  }

  p {
    max-width: 35rem;
  }
}

.block-hori-right {
  float: left;
  width: 51.666667%;

  p {
    max-width: 35rem;
  }
}

.intro-section {

}

