@import "../core-styles/elements/variables";
@import "../core-styles/mixins/transform";

.header-homepage, .header-section {
  @extend .content-container;
  position: absolute;
  padding-top: 5rem;
  padding-bottom: 5rem;
  left: 50%;
  @include transform-translateX(-50%);
  width: 100%;
  z-index: 100;

  @include min-screen($media-tablet-landscape) {
    height: 15rem;
  }
}

.header-homepage {

  .logo-text {
    color: $white;
  }

  .menu a {
    color: $white;

    &:hover {
      color: $white-trans-50;
    }
  }
}

.header-section {

  .logo-text {
    color: $black-dark;
  }

  .menu a {
    color: $black-dark-trans-50;

    &:hover {
      color: $black-dark-trans-15;
    }
  }
}

.logo-block {
  line-height: 2.2rem;

  @include min-screen($media-tablet-landscape) {
    float: left;
  }

}

.logo-text {
  font-family: FatFrank;
  font-size: 2.8rem;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-location {
  color: inherit;
  font-family: DINWeb-CondBold;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;

  @include min-screen($media-tablet-landscape) {
    display: block;
    margin-left: 0;
  }
}

.menu {

  @include min-screen($media-tablet-landscape) {
    float: right;
  }

  a {
    font-family: DINWeb-CondMedium;
    font-size: 1.6rem;
    padding-right: 2rem;
    text-decoration: none;
    transition: color .2s ease;

    @include min-screen($media-tablet-landscape) {
      padding: 0 1.75rem;
    }
  }
}