@import "../core-styles/elements/variables";
@import "../core-styles/mixins/transform";

.massage-item {
  float: left;
  margin: 0 11.166666% 9rem 0;// 134/1200
  max-width: 20rem;

  &:last-of-type {
    margin: 0 0 9rem -4px;
  }

  img {

  }
}

.massage-price {
  color: $black-dark;
  display: block;
  font-family: AGaramondPro-Bold;
  font-size: 6rem;
  margin-bottom: 5.5rem;
  line-height: 6rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.massage-price-discount {
  bottom: -3.5rem;
  color: $black-dark;
  display: block;
  font-family: AGaramondPro-Bold;
  font-size: 1.6rem;
  left: 50%;
  position: absolute;
  @include transform-translateX(-50%);
  width: 100%;

  .discount-star {

  }

}

.massage-divider {
  margin-bottom: 2.5rem;
}

.massage-name {
  color: $black-dark;
  font-family: DINWeb-CondBold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.item-sub-info {
  display: block;
  color: $black-medium;
  font-family: DINWeb-CondBold;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.btn-reserve-massage {
  border: 1px solid $black-dark;
  font-size: 1.4rem;
  margin-top: 4rem;
  padding: 1rem 0 1.1rem 0;
  width: 100%;
}

